@import "./assets/styles/fonts.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #fecc32;
  --secondary-color: #060675;
  --accent-color: #060675;
  --background-color: #fffefc;
  --text-color: #333333;
}

/* Custom Scrollbar for Webkit Browsers */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: var(--background-color); /* Background of the scrollbar track */
  border: 1px solid rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color); /* Color of the scrollbar thumb */
  border-radius: 0px ; /* Rounded corners */
  transition: all .2s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color); /* Color of the scrollbar thumb on hover */
  cursor: grab;
}

* {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  position: relative;
}


